*.txt.py
*.html.py
reports/
/static
docs/_build/
hagrid/settings.py
hagrid/settings_*.py
celerybeat.pid
database/
core/static/core/uploads/
/src/
gen_settings_wrapper.sh
populate_db_wrapper.sh
*.pstat
beat.timestamp
hagrid/settings/auto/test_runner.py
hagrid/settings/components/searching.py

hagrid/settings/flags/secret_key.py
hagrid/settings/components/database.py

api/migrations/*
